---

---

<section
  id="sobre-mi"
  class="flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8 py-16 md:py-20 pb-40"
>
  <h2
    data-i18about="title"
    class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-8 sm:mb-12 tracking-tighter italic uppercase text-center"
  >
    Sobre mí
  </h2>

  <div
    class="flex flex-col md:flex-row items-center md:items-start gap-6 sm:gap-8 md:gap-12 w-full max-w-5xl"
  >
    <img
      src="/Perfil.webp"
      alt="Imagen de Luciano Y."
      class="w-40 h-40 sm:w-48 sm:h-48 md:w-110 md:h-110 rounded-full md:rounded-none object-cover shadow-lg"
    />

    <div class="max-w-2xl space-y-4 sm:space-y-6 text-left px-2 sm:px-0">
      <p
        data-i18about="p1"
        class="text-sm sm:text-base md:text-lg lg:text-xl text-slate-300 leading-relaxed border-l-4 border-[#75A0B4] pl-4 md:pl-6 py-1 font-['Roboto_Mono']"
      >
        Hola, soy <span class="text-[#75A0B4] font-bold">Luciano Yanes</span>. Me especializo en <span
          class="font-black text-slate-100">Data Science</span
        > y en el desarrollo integral de soluciones, uniendo lógica, visualización y accesibilidad. Mi
        enfoque es resolver problemas complejos de forma creativa, conectando el backend con el frontend
        para aterrizar ideas en la realidad.
      </p>

      <p
        data-i18about="p2"
        class="text-sm sm:text-base md:text-lg lg:text-xl text-slate-300 leading-relaxed border-l-4 border-[#75A0B4] pl-4 md:pl-6 py-1 font-['Roboto_Mono']"
      >
        Desde niño me apasiona crear cosas desde cero. Creo firmemente que el verdadero valor de un
        desarrollador está en su <span class="font-black text-slate-100">capacidad de análisis</span
        > y en convertir desafíos en soluciones reales.
      </p>
    </div>
  </div>
</section>
