---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/Black-Hole.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portafolio de Luciano Yanes - Desarrollador Full Stack"
    />
    <meta name="author" content="Luciano Yanes" />
    <meta property="og:title" content="Portafolio | Luciano Yanes" />
    <meta
      property="og:description"
      content="Portafolio de Luciano Yanes - Desarrollador Full Stack"
    />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <title>Portafolio | Luciano Yanes</title>
  </head>
  <body class="bg-linear-to-b from-[#00262d] to-[#111324] font-['Silkscreen']">
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 19, 36);
    color-scheme: light dark;
  }
</style>
